@charset "UTF-8";

/* ========================================
 variables
=========================================== */
/* ========== break point */
$pc: 768;
$sp: 767;

/* ========== width */
$w_pc: 1366;
$w_sp: 750;
$w_pc_base: 1300;
$w_pc_base2: 870;
$w_sp_base: 690;

/* ========== color */
$c_main: #34675c;
$c_sub: #86ac41;
$c_sub2: #eee;

/* ========== font */
$font: 'Sawarabi Mincho', sans-serif;
